<div class="demo-menu" style="width: 256px">
  <div dMenu (menuItemClick)="menuItemClick($event)">
    @for (m of menus; track trackByMenu($index, m)) {
      @if (m.children?.length) {
        <div
          dSubMenu
          [title]="m.name"
          [icon]="m.icon"
          [disabled]="disabledKeys.includes(m.key)"
          [open]="openKeys.includes(m.key)"
          (openChange)="openChange($event, m.key)"
          >
          @for (item of m.children; track trackByMenu($index, item)) {
            <div
              dMenuItem
              [disabled]="disabledKeys.includes(item.key)"
              (itemClick)="itemClick(item.key)"
              [active]="item.key === activeKey"
              >
              <d-icon class="devui-menu-item-icon" icon="icon-op-list" />
              <span class="devui-menu-item-name over-flow-ellipsis">{{ item.name }}</span>
            </div>
          }
        </div>
      } @else {
        <div dMenuItem (itemClick)="itemClick(m.key)" [active]="m.key === activeKey" [disabled]="disabledKeys.includes(m.key)">
          <d-icon class="devui-menu-item-icon" icon="icon-op-list" />
          <span class="devui-menu-item-name over-flow-ellipsis">{{ m.name }}</span>
        </div>
      }
    }
  </div>
</div>
