<ng-template
  cdk-connected-overlay
  [cdkConnectedOverlayOrigin]="cdkConnectedOverlayOrigin"
  [cdkConnectedOverlayWidth]="originWidth"
  [cdkConnectedOverlayPositions]="pickerPositions"
  [cdkConnectedOverlayOpen]="isOpen"
  (backdropClick)="isOpen = false"
  (positionChange)="onPositionChange($event)"
  >
  <div
    [@fadeInOut]="startAnimation ? dropdownPosition : 'void'"
    (@fadeInOut.done)="animationEnd($event)"
    [@.disabled]="!showAnimation"
    class="devui-time-picker-wrapper devui-dropdown-menu"
    #timePicker
    >
    <div class="devui-time-picker" [ngClass]="{ 'devui-time-picker-animation': showAnimation }">
      @if (firstList.length) {
        <ul class="devui-time-list devui-first-list">
          @for (item of firstList; track item) {
            <li
              class="devui-time-item devui-first-item"
          [ngClass]="{
            active: item.active,
            disabled: item.disabled
          }"
              (click)="chooseTime(item)"
              >
              {{ item.time }}
            </li>
          }
        </ul>
      }
      @if (secondList.length) {
        <ul class="devui-time-list devui-second-list">
          @for (item of secondList; track item) {
            <li
              class="devui-time-item devui-second-item"
          [ngClass]="{
            active: item.active,
            disabled: item.disabled
          }"
              (click)="chooseTime(item)"
              >
              {{ item.time }}
            </li>
          }
        </ul>
      }
      @if (thirdList.length) {
        <ul class="devui-time-list devui-third-list">
          @for (item of thirdList; track item) {
            <li
              class="devui-time-item devui-third-item"
          [ngClass]="{
            active: item.active,
            disabled: item.disabled
          }"
              (click)="chooseTime(item)"
              >
              {{ item.time }}
            </li>
          }
        </ul>
      }
    </div>
    <div class="devui-time-footer">
      @if (!customViewTemplate) {
        <div class="devui-btn-wrapper">
          <d-button bsStyle="common" [disabled]="disabled" (btnClick)="confirmTime()" bsSize="sm"
            >{{ i18nCommonText?.btnConfirm }}
          </d-button>
        </div>
      }
      @if (customViewTemplate) {
        <ng-template
          [ngTemplateOutlet]="customViewTemplate"
          [ngTemplateOutletContext]="{ $implicit: this, chooseTime: chooseTime, clearAll: clearAll, confirmTime: confirmTime }"
        ></ng-template>
      }
    </div>
  </div>
</ng-template>
