@use '../../../../style/theme/color' as *;
@use '../../../../style/core/_font' as *;

:host {
  font-weight: bold;
  color: $devui-text;
  font-size: $devui-font-size-sm;

  &:has(.devui-dropdown-open) d-table-sort {
    display: block !important;
  }
}
