<d-radio-group [direction]="'row'" [formControl]="itemControl" (change)="valueChange($event)">
  @for (item of items; track item) {
    <d-radio [name]="'customized-item'" [value]="item"> The Radio item is: {{ item }} </d-radio>
  }
</d-radio-group>
<d-radio-group [direction]="'row'" [(ngModel)]="chosenObject" (change)="valueChange($event)">
  @for (obj of objects; track obj) {
    <d-radio [name]="'customized-object'" [value]="obj.name"> The Radio item is: {{ obj.name }} </d-radio>
  }
</d-radio-group>
