<div>
  <d-modal-header
    id="d-modal-header"
    [title]="title"
    (closeEvent)="close($event)"
    (maximizeEvent)="maximize($event)"
    [dialogtype]="dialogtype"
    [showMaximizeBtn]="showMaximizeBtn"
    [showCloseBtn]="showCloseBtn"
  ></d-modal-header>
  <div
    class="modal-body devui-scrollbar"
    [ngClass]="{
      'flex-content': dialogtype === 'warning' || dialogtype === 'failed' || dialogtype === 'success' || dialogtype === 'info'
    }"
    [ngStyle]="{ maxHeight: maxHeight, 'overflow-y': 'auto' }"
    cdkScrollable
    >
    <div
      [ngClass]="{
        'display-flex': dialogtype !== '' && dialogtype !== 'standard'
      }"
      >
      @if (!!content && !html) {
        <div class="content" [style.max-height]="maxHeight">{{ content }}</div>
      }
      @if (!!content && html) {
        <div class="content" [style.max-height]="maxHeight" [innerHTML]="content"></div>
      }
      @if (contentTemplate) {
        <div class="content">
          <ng-template
            [ngTemplateOutlet]="contentTemplate"
            [ngTemplateOutletContext]="{ modalInstance: modalInstance, modalContentInstance: this }"
          ></ng-template>
        </div>
      }
      <ng-template dModalContentHost></ng-template>
    </div>
  </div>

  <d-modal-footer [buttons]="buttons"></d-modal-footer>
</div>
