<div style="width: 50%">
  <h4>Basic Usage</h4>
  <d-multiple-upload
    #multipleupload
    [fileOptions]="fileOptions2"
    [uploadedFiles]="uploadedFiles2"
    [filePath]="'name'"
    [uploadOptions]="uploadOptions"
    (successEvent)="onSuccess2($event)"
    (deleteUploadedFileEvent)="deleteUploadedFile2($event)"
    (errorEvent)="onError2($event)"
    [showTip]="true"
    (fileSelect)="fileSelect($event)"
    >
  </d-multiple-upload>
  <h4>Upload Directory</h4>
  <d-multiple-upload
    #multipleupload
    [fileOptions]="fileOptions3"
    [uploadedFiles]="uploadedFiles3"
    [filePath]="'name'"
    [uploadOptions]="uploadOptions3"
    (successEvent)="onSuccess2($event)"
    (errorEvent)="onError2($event)"
    [showTip]="true"
    >
  </d-multiple-upload>
  <h4>Dragdrop</h4>
  <d-multiple-upload
    #multipleupload
    [enableDrop]="true"
    [fileOptions]="fileOptions2"
    [uploadedFiles]="uploadedFiles2"
    [filePath]="'name'"
    [oneTimeUpload]="true"
    [uploadOptions]="uploadOptions2"
    (successEvent)="onSuccess2($event)"
    (deleteUploadedFileEvent)="deleteUploadedFile2($event)"
    (errorEvent)="onError2($event)"
    (fileDrop)="fileDrop($event)"
    (fileOver)="fileOver($event)"
    >
  </d-multiple-upload>
  <h4>Customize</h4>
  <div>
    <d-multiple-upload
      #multipleupload
      [fileOptions]="fileOptions2"
      [uploadedFiles]="uploadedFiles2"
      [filePath]="'name'"
      [uploadOptions]="uploadOptions"
      (successEvent)="onSuccess2($event)"
      (deleteUploadedFileEvent)="deleteUploadedFile2($event)"
      (errorEvent)="onError2($event)"
      [preloadFilesRef]="default"
      >
    </d-multiple-upload>
    <ng-template #default let-fileUploaders="fileUploaders" let-deleteFile="deleteFile" let-UploadStatus="UploadStatus">
      @if (fileUploaders.length > 0) {
        <table class="devui-table">
          @for (fileUploader of fileUploaders; track fileUploader; let index = $index) {
            <tr>
              <td width="50%">
                <span>{{ fileUploader.file.name }}</span>
              </td>
              <td width="25%">
                @if (fileUploader.status === UploadStatus.preLoad) {
                  <span>{{ PRELOAD }}</span>
                }
                @if (fileUploader.status === UploadStatus.uploading) {
                  <span>{{ UPLOADING }}</span>
                }
                @if (fileUploader.status === UploadStatus.uploaded) {
                  <span>{{ UPLOADED }}</span>
                }
                @if (fileUploader.status === UploadStatus.failed) {
                  <span>{{ FAILED }}</span>
                }
              </td>
              <td>
                @if (fileUploader.status !== UploadStatus.uploaded) {
                  <d-button
                    [bordered]="true"
                    icon="trash"
                    bsStyle="danger"
                    bsSize="xs"
                    [disabled]="fileUploader.status === UploadStatus.uploading"
                    (btnClick)="deleteFile(fileUploader.file)"
                    >
                    {{ DELETE }}
                  </d-button>
                }
              </td>
            </tr>
          }
        </table>
      }
    </ng-template>
  </div>
  <h4>Disabled</h4>
  <d-multiple-upload
    #multipleupload
    [fileOptions]="fileOptions2"
    [uploadedFiles]="uploadedFiles2"
    [filePath]="'name'"
    [uploadOptions]="uploadOptions"
    (successEvent)="onSuccess2($event)"
    (deleteUploadedFileEvent)="deleteUploadedFile2($event)"
    (errorEvent)="onError2($event)"
    [disabled]="true"
    >
  </d-multiple-upload>
</div>
