@use '../style/theme/color' as *;
@use '../style/core/_font' as *;
@use '../style/theme/corner' as *;

:host {
  &:first-of-type > li {
    margin-top: 0;
  }

  & > li {
    margin-top: 4px;
    font-size: inherit;
    min-height: inherit;
  }
}
