<div class="devui-tags" #tagsElement>
  @for (tag of hideBeyondTags ? showTags : tags; track tag; let index = $index) {
    <d-tag
      #tagElement
      [tag]="displayProperty ? tag[displayProperty] : tag"
      [mode]="mode"
      [size]="size"
      [deletable]="deletable"
      [checked]="tag['checked']"
      [labelStyle]="tag['labelStyle']"
      [customColor]="tag['customColor']"
      [titleContent]="titleProperty ? tag[titleProperty] : displayProperty ? tag[displayProperty] : tag"
      [customViewTemplate]="customViewTemplate"
      [beforeDelete]="beforeDelete"
      (tagDelete)="removeTag($event, tag, index)"
      (checkedChange)="tagChecked($event, tag, index)"
      >
    </d-tag>
  }
  @if (hideBeyondTags && showMore) {
    <d-tag
      class="show-more-tag"
      dPopover
      [content]="beyondTagsTpl"
      [controlled]="true"
      [trigger]="'hover'"
      [tag]="'+ ' + beyondTags.length"
      [mode]="'checkable'"
      [size]="size"
      [popoverStyle]="{ backgroundColor: 'var(--devui-base-bg)' }"
    ></d-tag>
  }
  <div #suffixElement class="devui-tags-suffix">
    <ng-content select="[suffix]"></ng-content>
  </div>
</div>

<ng-template #beyondTagsTpl>
  <div class="beyond-tags-wrapper">
    @for (tag of beyondTags; track tag; let index = $index) {
      <d-tag
        class="beyond-tag-style"
        [tag]="displayProperty ? tag[displayProperty] : tag"
        [mode]="mode"
        [size]="size"
        [deletable]="deletable"
        [checked]="tag['checked']"
        [labelStyle]="tag['labelStyle']"
        [customColor]="tag['customColor']"
        [titleContent]="titleProperty ? tag[titleProperty] : displayProperty ? tag[displayProperty] : tag"
        [customViewTemplate]="customViewTemplate"
        [beforeDelete]="beforeDelete"
        (tagDelete)="removeTag($event, tag, index)"
        (checkedChange)="tagChecked($event, tag, index)"
        >
      </d-tag>
    }
  </div>
</ng-template>
