<span #contentProjection><ng-content></ng-content></span>
@if (!showDot() && !hasContent()) {
<span class="devui-badge-count devui-badge-count-{{ status() }}" [style.background]="bgColor()" [style.color]="textColor()">
  {{ count() }}
</span>
} @if (showDot() && !hasContent()) {
<span class="devui-badge-status devui-badge-status-{{ status() }}"></span>
} @if (hasContent()) {
<span
  class="devui-badge-content devui-badge-content-{{ status() }} devui-badge-content-{{ position() }}"
  [style.background]="bgColor()"
  [style.color]="textColor()"
  [style.right.px]="offset() && offset()[0] ? -offset()[0] : null"
  [style.top.px]="offset() && offset()[1] ? offset()[1] : null"
  [class.devui-badge-content-count]="!showDot()"
  [class.devui-badge-content-dot]="showDot()"
>
  @if (!showDot() && computedCountToNumber() <= maxCount()) {
  {{ count() }}
  } @if(!showDot() && computedCountToNumber() > maxCount()) {
  {{ maxCount() }}+ }
</span>
}
