<ng-container>
  @if (!(rowCount > 0)) {
    <ng-template [ngTemplateOutlet]="defaultHeadTemplate" [ngTemplateOutletContext]="{ $implicit: this }">
    </ng-template>
  }
  @if (rowCount > 0) {
    <ng-template
      [ngTemplateOutlet]="AdvancedHeadTmpl"
      [ngTemplateOutletContext]="{ $implicit: this, rows: rowCountArray }"
      >
    </ng-template>
  }
</ng-container>

<!-- begin:template: header label template-->
<ng-template #defaultHeadTemplate let-head="">
  <tr>
    @if (showExpandToggle) {
      <th
        class="devui-detail-cell"
        [ngClass]="{ 'devui-sticky-left-cell': columns[0]?.fixedLeft }"
        [style.left]="0"
      ></th>
    }
    @if (checkable) {
      <th
        class="devui-checkable-cell"
        [ngClass]="{ 'devui-sticky-left-cell': columns[0]?.fixedLeft }"
        [style.left]="showExpandToggle && columns[0]?.fixedLeft ? '16px' : '0'"
        >
        @if (!checkOptions || !checkOptions.length || !selectOptionOnCheckbox) {
          @if (headerCheckVisible) {
            <d-checkbox
              class="check-box-all"
              [name]="'checkAll'"
              [disabled]="headerCheckDisabled"
              (change)="onCheckAllChange()"
              [(ngModel)]="pageAllChecked"
              [halfchecked]="halfChecked"
              >
            </d-checkbox>
          }
        }
        @if (checkOptions && checkOptions.length > 0) {
          <div dDropDown appendToBody [trigger]="'hover'" class="select-options">
            @if (selectOptionOnCheckbox) {
              <div dDropDownToggle>
                @if (headerCheckVisible) {
                  <d-checkbox
                    class="check-box-all"
                    [name]="'checkAll'"
                    [disabled]="headerCheckDisabled"
                    (change)="onCheckAllChange()"
                    [(ngModel)]="pageAllChecked"
                    [halfchecked]="halfChecked"
                    dPopover
                    [position]="'right'"
                    [zIndex]="checkOptionsIndex"
                    [visible]="checkOptions?.length && showTip"
                    [content]="checkboxTemplate"
                  ></d-checkbox>
                }
                <ng-template #checkboxTemplate>
                  <div>
                    <span>{{ curLabel }}</span>
                    <svg
                      width="16px"
                      height="16px"
                      class="close-icon"
                      (click)="showTip = false"
                      viewBox="0 0 16 16"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                      <g _ngcontent-sjo-c218="" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path
                          _ngcontent-sjo-c218=""
                          d="M8,1 C11.8659932,1 15,4.13400675 15,8 C15,11.8659932 11.8659932,15 8,15 C4.13400675,15 1,11.8659932 1,8 C1,4.13400675 4.13400675,1 8,1 Z M5.87867966,5.17157288 C5.68341751,4.97631073 5.36683502,4.97631073 5.17157288,5.17157288 C4.99800652,5.34513923 4.97872137,5.61456363 5.11371742,5.80943177 L5.17157288,5.87867966 L7.29218611,7.99929289 L5.17157288,10.1213203 C4.97631073,10.3165825 4.97631073,10.633165 5.17157288,10.8284271 C5.34513923,11.0019935 5.61456363,11.0212786 5.80943177,10.8862826 L5.87867966,10.8284271 L7.99929289,8.70639967 L10.1213203,10.8284271 C10.3165825,11.0236893 10.633165,11.0236893 10.8284271,10.8284271 C11.0019935,10.6548608 11.0212786,10.3854364 10.8862826,10.1905682 L10.8284271,10.1213203 L8.70710678,8 L10.8284271,5.87867966 C11.0236893,5.68341751 11.0236893,5.36683502 10.8284271,5.17157288 C10.6548608,4.99800652 10.3854364,4.97872137 10.1905682,5.11371742 L10.1213203,5.17157288 L8,7.29289322 L5.87867966,5.17157288 Z"
                          id="形状"
                          fill="#D5D5DB"
                          fill-rule="nonzero"
                        ></path>
                      </g>
                    </svg>
                  </div>
                </ng-template>
              </div>
            }
            @if (!selectOptionOnCheckbox) {
              <div dDropDownToggle>
                <svg
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  height="16px"
                  version="1.1"
                  viewBox="0 0 16 16"
                  width="16px"
                  xmlns="http://www.w3.org/2000/svg"
                  >
                  <g fill="none" fill-rule="evenodd" id="chevron_down" stroke="none" stroke-width="1">
                    <polygon points="4.5 5 8 8.76923077 11.5 5 13 6.61538462 8 12 3 6.61538462"></polygon>
                  </g>
                </svg>
              </div>
            }
            <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
              @for (option of checkOptions; track option) {
                <li
                  [ngClass]="{ active: curLabel === option.label }"
                  role="menuitem"
                  (click)="onOptionSelect(option); curLabel = option.label; showTip = true"
                  >
                  <a class="devui-dropdown-item">{{ option.label }}</a>
                </li>
              }
            </ul>
          </div>
        }
      </th>
    }
    @for (column of columns; track trackByFn(colIndex, column); let last = $last; let colIndex = $index) {
      <th
        dHeadCell
        [minWidth]="column.minWidth"
        [maxWidth]="column.maxWidth"
        [attr.field]="column.field"
        [showSortIcon]="showSortIcon"
        [showFilterIcon]="showFilterIcon"
        [sortable]="getIfExistMultiSort(column.field)"
        [sortDirection]="getSortDirection(column.field)"
        (sortChange)="onHeadClick($event, column)"
        [filterable]="canFilterable(column)"
        [closeFilterWhenScroll]="column.closeFilterWhenScroll"
        [filterList]="column.filterList"
        [column]="column"
        [filterMultiple]="column.filterMultiple"
        [filterBoxWidth]="column.filterBoxWidth"
        [filterBoxHeight]="column.filterBoxHeight"
        [filterIconActive]="column.filterIconActive"
        [beforeFilter]="column.beforeFilter"
        [customFilterTemplate]="column.customFilterTemplate"
        [extraFilterTemplate]="column.extraFilterTemplate"
        [searchFn]="column.searchFn"
        (filterChange)="column.emitFilterData($event)"
        (filterToggle)="column.emitFilterToggle($event)"
        [fixedLeft]="column.fixedLeft"
        [isLastFixedLeft]="column.fixedLeft && !columns[colIndex + 1]?.fixedLeft"
        [fixedRight]="column.fixedRight"
        [isFirstFixedRight]="column.fixedRight && !columns[colIndex - 1]?.fixedRight"
        [nestedColumn]="column.extraOptions?.showHeadTableToggler"
        (toggleChildrenTableEvent)="toggleChildrenTable($event)"
        (tapEvent)="onTap($event)"
        [iconFoldTable]="column.extraOptions?.iconFoldTable"
        [iconUnFoldTable]="column.extraOptions?.iconUnFoldTable"
        [tableViewRefElement]="tableViewRefElement"
        [colDraggable]="colDraggable && colIndex > head?.colDropFreezeTo - 1"
        [childrenTableOpen]="childrenTableOpen"
        class="{{ column.cellClass ? column.cellClass : '' }}"
      [ngClass]="{
        sindu_handle: colDraggable && colIndex > head?.colDropFreezeTo - 1,
        'drop-freeze': colDraggable && colIndex < head?.colDropFreezeTo
      }"
        [resizeEnabled]="resizeable"
        (resizeEndEvent)="onResize($event, column)"
        (resizeStartEvent)="onBeginResize($event)"
        (resizingEvent)="onResizing($event, column)"
        >
        @if (!column.headCellTmpl?.template) {
          <span [attr.title]="column.header">{{ column.header }}</span>
        }
        @if (column.headCellTmpl?.template) {
          <ng-template
            [ngTemplateOutlet]="column.headCellTmpl?.template"
            [ngTemplateOutletContext]="{ column: column, $implicit: head }"
          ></ng-template>
        }
      </th>
    }
  </tr>
</ng-template>
<!--end:tempate-->

<ng-template let-head="" let-rows="rows" #AdvancedHeadTmpl>
  @for (rowContex of rows; track rowContex; let rowIndex = $index) {
    <tr>
      @if (showExpandToggle && rowIndex === 0) {
        <th
          class="devui-detail-cell"
          [attr.rowspan]="rows?.length || 1"
          [ngClass]="{ 'devui-sticky-left-cell': columns[0]?.fixedLeft }"
          [style.left]="0"
        ></th>
      }
      @if (checkable && rowIndex === 0) {
        <th
          class="devui-checkable-cell"
          [attr.rowspan]="rows?.length || 1"
          [ngClass]="{ 'devui-sticky-left-cell': columns[0]?.fixedLeft }"
          [style.left]="showExpandToggle && columns[0]?.fixedLeft ? '16px' : '0'"
          >
          @if (headerCheckVisible) {
            <d-checkbox
              class="check-box-all"
              [name]="'checkAll'"
              [disabled]="headerCheckDisabled"
              (change)="onCheckAllChange()"
              [(ngModel)]="pageAllChecked"
              [halfchecked]="halfChecked"
              >
            </d-checkbox>
          }
          @if (checkOptions && checkOptions.length > 0) {
            <div dDropDown appendToBody [trigger]="'hover'" class="select-options">
              <div dDropDownToggle>
                <svg
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  height="16px"
                  version="1.1"
                  viewBox="0 0 16 16"
                  width="16px"
                  xmlns="http://www.w3.org/2000/svg"
                  >
                  <g fill="none" fill-rule="evenodd" id="chevron_down" stroke="none" stroke-width="1">
                    <polygon points="4.5 5 8 8.76923077 11.5 5 13 6.61538462 8 12 3 6.61538462"></polygon>
                  </g>
                </svg>
              </div>
              <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
                @for (option of checkOptions; track option) {
                  <li role="menuitem" (click)="onOptionSelect(option)">
                    <a class="devui-dropdown-item">{{ option.label }}</a>
                  </li>
                }
              </ul>
            </div>
          }
        </th>
      }
      @for (column of columns; track trackByFn(colIndex, column); let colIndex = $index; let last = $last) {
        @if (column.advancedHeader && column.advancedHeader[rowIndex]?.rowspan && column.advancedHeader[rowIndex]?.colspan) {
          <th
            dHeadCell
            [attr.rowspan]="column.advancedHeader[rowIndex]?.rowspan"
            [attr.colspan]="column.advancedHeader[rowIndex]?.colspan"
        [style.textAlign]="
          rowIndex !== column.advancedHeader.length - 1 &&
          (column.advancedHeader[rowIndex]?.rowspan > 0 || column.advancedHeader[rowIndex]?.colspan > 0)
            ? 'center'
            : ''
        "
            [minWidth]="column.minWidth"
            [attr.field]="column.field"
            [maxWidth]="column.maxWidth"
            [resizeEnabled]="resizeable && rowIndex === column.advancedHeader.length - 1 && !last"
            (resizeEndEvent)="onResize($event, column)"
            (resizeStartEvent)="onBeginResize($event)"
            (resizingEvent)="onResizing($event, column)"
            [showSortIcon]="showSortIcon"
            [showFilterIcon]="showFilterIcon"
            [sortable]="getIfExistMultiSort(column.field) && rowIndex === column.advancedHeader.length - 1"
            [sortDirection]="getSortDirection(column.field)"
            (sortChange)="onHeadClick($event, column)"
            [filterable]="canFilterable(column) && rowIndex === column.advancedHeader.length - 1"
            [closeFilterWhenScroll]="column.closeFilterWhenScroll"
            [filterList]="column.filterList"
            [column]="column"
            [filterMultiple]="column.filterMultiple"
            [filterBoxWidth]="column.filterBoxWidth"
            [filterBoxHeight]="column.filterBoxHeight"
            [filterIconActive]="column.filterIconActive"
            [beforeFilter]="column.beforeFilter"
            [customFilterTemplate]="column.customFilterTemplate"
            [extraFilterTemplate]="column.extraFilterTemplate"
            [searchFn]="column.searchFn"
            (filterChange)="column.emitFilterData($event)"
            (filterToggle)="column.emitFilterToggle($event)"
            [fixedLeft]="column.fixedLeft"
            [isLastFixedLeft]="column.fixedLeft && !columns[colIndex + 1]?.fixedLeft"
            [fixedRight]="column.fixedRight"
            [isFirstFixedRight]="column.fixedRight && !columns[colIndex - 1]?.fixedRight"
            [nestedColumn]="column.extraOptions?.showHeadTableToggler"
            (toggleChildrenTableEvent)="toggleChildrenTable($event)"
            (tapEvent)="onTap($event)"
            [iconFoldTable]="column.extraOptions?.iconFoldTable"
            [iconUnFoldTable]="column.extraOptions?.iconUnFoldTable"
            [tableViewRefElement]="tableViewRefElement"
            [colDraggable]="colDraggable && colIndex > head?.colDropFreezeTo - 1"
            [childrenTableOpen]="childrenTableOpen"
        [ngClass]="{
          sindu_handle: colDraggable && colIndex > head?.colDropFreezeTo - 1,
          'drop-freeze': colDraggable && colIndex < head?.colDropFreezeTo
        }"
            >
            @if ((rowIndex < rows.length - 1 && !column.headCellApplyAll) || !column.headCellTmpl?.template) {
              <span
                [attr.title]="column.advancedHeader[rowIndex].header"
                >{{ column.advancedHeader[rowIndex].header }}</span
                >
              }
              @if (column.headCellTmpl?.template && (rowIndex === rows.length - 1 || column.headCellApplyAll)) {
                <ng-template
                  [ngTemplateOutlet]="column.headCellTmpl?.template"
            [ngTemplateOutletContext]="{
              column: column,
              $implicit: head,
              rowIndex: rowIndex,
              colIndex: colIndex
            }"
                  >
                </ng-template>
              }
            </th>
          }
          @if (!column.advancedHeader && rowIndex === 0) {
            <th
              dHeadCell
              [minWidth]="column.minWidth"
              [maxWidth]="column.maxWidth"
              [attr.field]="column.field"
              [showSortIcon]="showSortIcon"
              [showFilterIcon]="showFilterIcon"
              [sortable]="getIfExistMultiSort(column.field)"
              [sortDirection]="getSortDirection(column.field)"
              (sortChange)="onHeadClick($event, column)"
              [filterable]="canFilterable(column)"
              [closeFilterWhenScroll]="column.closeFilterWhenScroll"
              [filterList]="column.filterList"
              [column]="column"
              [filterMultiple]="column.filterMultiple"
              [filterBoxWidth]="column.filterBoxWidth"
              [filterBoxHeight]="column.filterBoxHeight"
              [filterIconActive]="column.filterIconActive"
              [beforeFilter]="column.beforeFilter"
              [customFilterTemplate]="column.customFilterTemplate"
              [extraFilterTemplate]="column.extraFilterTemplate"
              [searchFn]="column.searchFn"
              (filterChange)="column.emitFilterData($event)"
              (filterToggle)="column.emitFilterToggle($event)"
              [fixedLeft]="column.fixedLeft"
              [isLastFixedLeft]="column.fixedLeft && !columns[colIndex + 1]?.fixedLeft"
              [fixedRight]="column.fixedRight"
              [isFirstFixedRight]="column.fixedRight && !columns[colIndex - 1]?.fixedRight"
              [nestedColumn]="column.extraOptions?.showHeadTableToggler"
              (toggleChildrenTableEvent)="toggleChildrenTable($event)"
              (tapEvent)="onTap($event)"
              [iconFoldTable]="column.extraOptions?.iconFoldTable"
              [iconUnFoldTable]="column.extraOptions?.iconUnFoldTable"
              [tableViewRefElement]="tableViewRefElement"
              [colDraggable]="colDraggable && colIndex > head?.colDropFreezeTo - 1"
              [childrenTableOpen]="childrenTableOpen"
        [ngClass]="{
          sindu_handle: colDraggable && colIndex > head?.colDropFreezeTo - 1,
          'drop-freeze': colDraggable && colIndex < head?.colDropFreezeTo
        }"
              [resizeEnabled]="resizeable"
              (resizeEndEvent)="onResize($event, column)"
              (resizeStartEvent)="onBeginResize($event)"
              (resizingEvent)="onResizing($event, column)"
              [attr.rowspan]="rows?.length || 1"
              >
              @if (!column.headCellTmpl?.template) {
                <span [attr.title]="column.header">{{ column.header }}</span>
              }
              @if (column.headCellTmpl?.template) {
                <ng-template
                  [ngTemplateOutlet]="column.headCellTmpl?.template"
                  [ngTemplateOutletContext]="{ column: column, $implicit: head }"
                ></ng-template>
              }
            </th>
          }
        }
        <!-- <th width="0"  *ngIf="resizeable"></th> -->
      </tr>
    }
  </ng-template>
