<d-data-table [dataSource]="basicDataSource" [tableOverflowType]="'overlay'">
  <thead dTableHead>
    <tr dTableRow>
      <th dHeadCell>First Name</th>
      <th dHeadCell>Last Name</th>
      <th dHeadCell>Gender</th>
      <th dHeadCell>Date of birth</th>
    </tr>
  </thead>
  <tbody dTableBody>
    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
      <tr dTableRow>
        <td dTableCell [attr.colspan]="rowIndex === 5 ? 4 : 1">{{ rowItem?.firstName }}</td>
        @if (rowIndex < 5) {
        <td dTableCell>{{ rowItem?.lastName }}</td>
        } @if (rowIndex === 0) {
        <td dTableCell rowspan="5">{{ rowItem?.gender }}</td>
        } @if (rowIndex < 5) {
        <td dTableCell>{{ $safeNavigationMigration(rowItem?.dob) | i18nDate : 'short' : false }}</td>
        }
      </tr>
    </ng-template>
  </tbody>
</d-data-table>
