<div [class.devui-icon-can-interactive]="operable()" class="devui-icon-container" [class.disabled]="disabled()">
  <ng-content select="[iconPrefix]"></ng-content>
  <ng-container *ngTemplateOutlet="template() || defaultTemplate"> </ng-container>
  <ng-template #defaultTemplate>
    <i
      class="devui-icon {{ icon() }}"
      [class.devui-icon-spin]="rotate() === 'infinite'"
      [style.transform]="'rotate(' + rotate() + 'deg)'"
      [style.color]="color()"
    >
    </i>
  </ng-template>
  <ng-content select="[iconSuffix]"></ng-content>
</div>
