<div class="devui-overview-wrapper">
  <div class="d-overview-introduce">
    <h1>
      {{ overviewText.title }}
      <d-badge [count]="totalNumComponents" status="common" class="d-overview-total-components"></d-badge>
    </h1>
    <p class="d-overview-introduce-description">
      {{ overviewText.description }}
    </p>
    <d-search [size]="'lg'" [isKeyupSearch]="true" [placeholder]="overviewText.placeholder" (searchFn)="searchComponent($event)"></d-search>
    <div class="d-overview-filters">
      <div class="d-overview-filters-title">{{ overviewText.filter }}:</div>
      @for (tag of tagList; track tag; let i = $index) {
        <d-tag
          class="d-overview-filters-item"
          [mode]="'checkable'"
          [checked]="tag.checked"
          [tag]="tag.title"
          [titleContent]="tag.title"
          (checkedChange)="filter(tag.name)"
        ></d-tag>
      }
    </div>
  </div>
  @if (componentsDataDisplay.length) {
    <ul class="d-overview-components">
      @for (components of componentsDataDisplay; track components) {
        @if (!components.nodisplay) {
          <li class="d-overview-components-list">
            <div class="d-overview-component-title">
              <h2>
                {{ components.title }}
              </h2>
              <d-badge [count]="components.children.length" status="common" class="d-overview-total-components"></d-badge>
            </div>
            <div class="d-overview-component-wrapper">
              @for (component of components.children; track component) {
                @if (!component.nodisplay) {
                  <d-card (click)="jumpToComponent(component.link)">
                    <div class="d-overview-card-wrapper">
                      @if (component.newChange) {
                        <d-tag [tag]="overviewText.newChange" [labelStyle]="'update-custom'"></d-tag>
                      }
                      @if (component.sunset) {
                        <d-tag [tag]="overviewText.sunset" [labelStyle]="'sunset-custom'"></d-tag>
                      }
                      <div class="d-overview-card-icon">
                        <img
                          [alt]="component.name"
                          (error)="imgError($event)"
                          dLazyLoad
                          [enableLazyLoad]="true"
                          [contentMode]="'img'"
                          [target]="doc"
                          [imgLoadSrc]="imgPrefix + component.folderName + '/' + component.lowerName + '.png'"
                          />
                      </div>
                      <p class="d-overview-card-title">
                        {{ component.title }}
                      </p>
                      @if (component.description) {
                        <p class="d-overview-card-description" [title]="component.description">
                          {{ component.description }}
                        </p>
                      }
                    </div>
                  </d-card>
                }
              }
              @for (placeHolder of flexPlaceHolders; track placeHolder) {
                <div class="d-component-place-holder"></div>
              }
            </div>
          </li>
        }
      }
    </ul>
  }
  @if (!componentsDataDisplay.length) {
    <div class="d-overview-no-data">
      @if (!nowFilter) {
        <img class="d-overview-no-data-img" src="./{{ srcPrefix }}/no-data{{ darkMode }}.svg" alt="no-data" />
      }
      <div class="d-overview-no-data-wrap">
        @if (componentsLooking && componentsLooking.length) {
          <div>
            <h2 class="d-overview-no-data-title">
              {{ overviewText.lookingCmp }}
            </h2>
            <div class="d-overview-no-data-list d-overview-component-wrapper">
              @for (component of componentsLooking; track component) {
                <d-card (click)="jumpToComponent(component.link)">
                  <div class="d-overview-card-wrapper">
                    @if (component.newChange) {
                      <d-tag [tag]="overviewText.newChange" [labelStyle]="'orange-w98'"></d-tag>
                    }
                    @if (component.sunset) {
                      <d-tag [tag]="overviewText.sunset" [labelStyle]="'yellow-w98'"></d-tag>
                    }
                    <div class="d-overview-card-icon">
                      <img
                        [alt]="component.name"
                        (error)="imgError($event)"
                        dLazyLoad
                        [enableLazyLoad]="true"
                        [contentMode]="'img'"
                        [target]="doc"
                        [imgLoadSrc]="imgPrefix + component.folderName + '/' + component.lowerName + '.png'"
                        />
                    </div>
                    <p class="d-overview-card-title">
                      {{ component.title }}
                    </p>
                    @if (component.description) {
                      <p class="d-overview-card-description" [title]="component.description">
                        {{ component.description }}
                      </p>
                    }
                  </div>
                </d-card>
              }
              @for (placeHolder of flexPlaceHolders; track placeHolder) {
                <div class="d-component-place-holder"></div>
              }
            </div>
          </div>
        }
        @if (componentsSuggest && componentsSuggest.length) {
          <div>
            <h2 class="d-overview-no-data-title">
              {{
              nowFilter === 'newChangeCmps'
              ? overviewText.newChangeCmps
              : nowFilter === 'recentlySuggestCmps'
              ? overviewText.recentlySuggestCmps
              : overviewText.suggestCmp
              }}
            </h2>
            <div class="d-overview-no-data-list d-overview-component-wrapper">
              @for (component of componentsSuggest; track component) {
                <d-card (click)="jumpToComponent(component.link)">
                  <div class="d-overview-card-wrapper">
                    @if (component.newChange) {
                      <d-tag [tag]="overviewText.newChange" [labelStyle]="'orange-w98'"></d-tag>
                    }
                    @if (component.sunset) {
                      <d-tag [tag]="overviewText.sunset" [labelStyle]="'yellow-w98'"></d-tag>
                    }
                    <div class="d-overview-card-icon">
                      <img
                        [alt]="component.name"
                        (error)="imgError($event)"
                        dLazyLoad
                        [enableLazyLoad]="true"
                        [contentMode]="'img'"
                        [target]="doc"
                        [imgLoadSrc]="imgPrefix + component.folderName + '/' + component.lowerName + '.png'"
                        />
                    </div>
                    <p class="d-overview-card-title">
                      {{ component.title }}
                    </p>
                    @if (component.description) {
                      <p class="d-overview-card-description" [title]="component.description">
                        {{ component.description }}
                      </p>
                    }
                  </div>
                </d-card>
              }
              @for (placeHolder of flexPlaceHolders; track placeHolder) {
                <div class="d-component-place-holder"></div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
