<div class="demo-menu" style="width: 256px">
  <div dMenu>
    @for (m of menus; track trackByMenu($index, m)) {
      <!-- [noStyle]="true" 会完全移除预制样式 -->
      @if (m.children?.length) {
        <div
          dSubMenu
          [title]="titleTpl"
          [icon]="m.icon"
          [open]="openKeys.includes(m.key)"
          (openChange)="openChange($event, m.key)"
          >
          <ng-template #titleTpl let-open="open" let-disabled="disabled" let-icon="icon">
            <div class="my-title">
              <b
                ><i>{{ m.name }}</i></b
                >
              </div>
            </ng-template>
            <!--
            如果不传[title]属性，还可以用插槽的形式
            <div class="my-title" title>
              <b><i>{{menu.name}}</i></b>
            </div>
            -->
            @for (item of m.children; track trackByMenu($index, item)) {
              <div
                dMenuItem
                (itemClick)="itemClick(item.key)"
                [active]="item.key === activeKey"
                >
                <d-icon class="devui-menu-item-icon" icon="icon-op-list" />
                <span class="devui-menu-item-name over-flow-ellipsis">{{ item.name }}</span>
              </div>
            }
          </div>
        } @else {
          <!-- [noStyle]="true" 会完全移除预制样式 -->
          <div dMenuItem (itemClick)="itemClick(m.key)" [active]="m.key === activeKey">
            <d-icon class="devui-menu-item-icon" icon="icon-op-list" />
            <span class="devui-menu-item-name over-flow-ellipsis">{{ m.name }}</span>
          </div>
        }
      }
    </div>
  </div>
