@use '../style/theme/color' as *;
@use '../style/theme/corner' as *;

:host {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: $devui-border-radius;

  &.devui-splitter-horizontal {
    flex-direction: row;
  }

  &.devui-splitter-vertical {
    flex-direction: column;
  }
}
