<ng-content select="d-splitter-pane"></ng-content>
@for (pane of panes; track pane; let index = $index; let last = $last) {
  @if (!last) {
    <d-splitter-bar
      #bar
      dResize
      [style.order]="index * 2 + 1"
      [index]="index"
      [splitBarSize]="splitBarSize"
      [disabledBarSize]="disabledBarSize"
      [orientation]="orientation"
      [showCollapseButton]="showCollapseButton"
      [collapsePosLeft]="collapsePosLeft"
      [collapsePosTop]="collapsePosTop"
      >
    </d-splitter-bar>
  }
}
