<div class="devui-checkbox-group">
  <ul [class.devui-checkbox-list-inline]="direction() === 'row'">
    @for(item of options_display; track item;let i=$index) {
    <li
      [class.devui-checkbox-column-margin]="direction() === 'column'"
      [style.width.px]="itemWidth()"
      [class.devui-checkbox-wrap]="itemWidth() !== undefined"
    >
      <span>
        <d-checkbox
          [name]="name()"
          [label]="item['value'][filterKey()] ? item['value'][filterKey()] : item['value']"
          [(ngModel)]="item['isChecked']"
          [isShowTitle]="isShowTitle()"
          [color]="color()"
          [disabled]="disabled() ? true : item['value']['disabled']"
          [labelTemplate]="labelTemplate()"
          [showAnimation]="showAnimation"
          (ngModelChange)="toggle($event, i)"
          [beforeChange]="beforeChange"
        >
        </d-checkbox>
      </span>
    </li>
    }
  </ul>
</div>
