<div class="clear-fix">
  <div class="upload-body">
    <d-multiple-upload
      #multipleupload
      [fileOptions]="fileOptions2"
      [uploadedFiles]="uploadedFiles2"
      [filePath]="'name'"
      [uploadOptions]="uploadOptions2"
      (successEvent)="onSuccess3($event)"
      (deleteUploadedFileEvent)="deleteUploadedFile3($event)"
      (errorEvent)="onError3($event)"
      [setCustomUploadOptions]="setCustomUploadOptions"
      [uploadedFilesRef]="uploadedFilesTemp"
      [preloadFilesRef]="preloadFilesTemp"
      [withoutBtn]="true"
      >
    </d-multiple-upload>
  </div>
  <div class="upload-btn">
    <d-button [bsStyle]="'primary'" (click)="multipleupload.upload($event)">
      {{ UPLOAD }}
    </d-button>
  </div>
</div>
<ng-template #uploadedFilesTemp let-uploadedFiles="uploadedFiles" let-deleteFile="deleteFile" let-filePath="filePath">
  @if (uploadedFiles.length > 0) {
    <table class="table" [style.margin-bottom.px]="0">
      <tbody>
        @for (uploadedFile of uploadedFiles; track uploadedFile; let index = $index) {
          <tr>
            <td width="50%">
              <span>{{ uploadedFile.name }}</span>
            </td>
            <td width="25%">
              <span>{{ UPLOADED }}</span>
            </td>
            <td>
              <d-button icon="trash" bsStyle="primary" bsSize="xs" (click)="deleteFile(uploadedFile[filePath])">
                {{ DELETE }}
              </d-button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</ng-template>
<ng-template #preloadFilesTemp let-fileUploaders="fileUploaders" let-deleteFile="deleteFile" let-UploadStatus="UploadStatus">
  @if (fileUploaders.length > 0) {
    <table class="table">
      @for (fileUploader of fileUploaders; track fileUploader; let index = $index) {
        <tr>
          <td width="50%">
            <span>{{ fileUploader.file.name }}</span>
          </td>
          <td width="25%">
            @if (fileUploader.status === UploadStatus.preLoad) {
              <span>{{ PRELOAD }}</span>
            }
            @if (fileUploader.status === UploadStatus.uploading) {
              <span>{{ UPLOADING }}</span>
            }
            @if (fileUploader.status === UploadStatus.uploaded) {
              <span>{{ UPLOADED }}</span>
            }
            @if (fileUploader.status === UploadStatus.failed) {
              <span>{{ FAILED }}</span>
            }
          </td>
          <td>
            @if (fileUploader.status !== UploadStatus.uploaded) {
              <d-button
                icon="trash"
                bsStyle="primary"
                bsSize="xs"
                [disabled]="fileUploader.status === UploadStatus.uploading"
                (click)="deleteFile(fileUploader.file)"
                >
                {{ DELETE }}
              </d-button>
            }
          </td>
        </tr>
      }
    </table>
  }
</ng-template>
