<div class="sidebar-wrapper">
  <d-search
    class="sidebar-search-container"
    [iconPosition]="'left'"
    [styleType]="'gray'"
    [isKeyupSearch]="true"
    [placeholder]="searchPlaceholder"
    (searchFn)="onSearch($event)"
  ></d-search>
  <ul class="sidebar-menu" [ngClass]="{'sidebar-menu-design': !sideMenuList.length}">
    @for (item of sideMenuList; track item) {
      <li class="sidebar-menu-item" routerLinkActive="sidebar-menu-item-selected">
        @if (item.linkType === 'routerLink') {
          <a [routerLink]="item.path">
            {{ item.name }}
          </a>
        }
        @if (item.linkType === 'href') {
          <a [href]="item.path" [target]="'_blank'">
            {{ item.name }}
          </a>
        }
      </li>
    }
  </ul>
  <nav class="sidebar-nav">
    <d-accordion [data]="componentsDataDisplay" [linkType]="linkType" [itemTemplate]="itemtemplate" (itemClick)="handleResetPage()" [linkDefaultTarget]="linkDefaultTarget"></d-accordion>
    <ng-template #itemtemplate let-item="item">
      {{ item.title }}
      @if (item.newChange) {
        <d-tag [tag]="text.new" [labelStyle]="'update-custom'"></d-tag>
      }
      @if (item.sunset) {
        <d-tag [tag]="text.sunset" [labelStyle]="'sunset-custom'"></d-tag>
      }
    </ng-template>
  </nav>
  <div class="sidebar-footer">
    @if (showVersions) {
      <div>
        <span>{{ curLanguage === 'zh-cn' ? '版本' : 'Version' }}：</span>
        <span dDropDown (toggleEvent)="onToggle($event)" appendToBody [appendToBodyDirections]="['centerUp']">
          <d-icon style="cursor: pointer" dDropDownToggle [icon]="'icon-select-arrow'" [rotate]="rotateDegrees">
            <span iconPrefix>{{ currentOption?.name }}</span>
          </d-icon>
          <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
            @for (item of versionOptions; track item) {
              <li role="menuitem">
                <a class="version-link" dDropDownMenuItem [href]="item.link" [target]="item.target">{{ item.name }}</a>
              </li>
            }
          </ul>
        </span>
      </div>
    }
    @if (showChangelog) {
      <div>
        <a [href]="changelogLink" rel="noopener noreferrer" [target]="'_blank'">
          {{ curLanguage === 'zh-cn' ? '版本历程' : 'Changelog' }}
        </a>
      </div>
    }
  </div>
</div>
