<div
  [class.devui-time-axis-item-horizontal]="direction === 'horizontal'"
  [class.devui-time-axis-item-vertical]="direction === 'vertical' && timePosition !== 'bottom'"
  [class.devui-time-axis-item-vertical-time-bottom]="direction === 'vertical' && timePosition === 'bottom'"
  >
  @if (timePosition !== 'bottom' && mode !== 'bottom' && mode !== 'right') {
    <div
      [class.devui-time-axis-item-data-horizontal-top]="direction === 'horizontal'"
      [class.devui-time-axis-item-data-vertical-left]="direction === 'vertical'"
      >
      @if (time && (position === 'bottom' || position === 'right')) {
        <div>
          <div [class.devui-time-axis-item-horizontal-align-center]="position === 'bottom' && horizontalAlign === 'center'">{{ time }}</div>
        </div>
      }
      @if (position === 'top' || position === 'left') {
        <div
          [class.devui-time-axis-item-horizontal-align-center]="position === 'top' && horizontalAlign === 'center'"
          >
          @if (model !== 'template') {
            <div [innerHTML]="text | safe: 'html'"></div>
          }
          @if (model === 'template') {
            <div>
              <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{ $implicit: this, data: data }"></ng-template>
            </div>
          }
        </div>
      }
    </div>
  }
  <div
    class="devui-time-axis-item-axis"
    [class.devui-time-axis-item-axis-padding-horizontal]="direction === 'horizontal'"
    [class.devui-time-axis-item-axis-padding-vertical]="direction === 'vertical'"
    [class.devui-time-axis-item-axis-padding-mode-top]="mode === 'top'"
    [class.devui-time-axis-item-axis-padding-mode-bottom]="mode === 'bottom'"
    [class.devui-time-axis-item-axis-padding-mode-left]="mode === 'left'"
    [class.devui-time-axis-item-axis-padding-mode-right]="mode === 'right'"
    >
    @if (!customDot && (_type === 'primary' || !_type)) {
      <div
        [style.borderColor]="dotColor"
        class="devui-time-axis-item-dot devui-time-axis-item-type-{{ _type || 'primary' }} {{ iconClass }}"
      ></div>
    }
    @if (!customDot && _type !== 'primary' && _type) {
      <div
        class="devui-time-axis-item-dot devui-time-axis-item-type-{{ _type || 'primary' }} {{ iconClass }}"
        >
        @if (_type === 'danger') {
          <svg
            class="devui-icon devui-icon-error"
            width="16px"
            height="16px"
            viewBox="0 0 16 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <circle cx="8" cy="8" r="7"></circle>
              <path
                d="M8,0 C3.6,0 0,3.6 0,8 C0,12.4 3.6,16 8,16 C12.4,16 16,12.4 16,8 C16,3.6 12.4,0 8,0 Z M9,12.6 L7,12.6 L7,10.6 L9,10.6 L9,12.6 Z M9,9.1 L7,9.1 L6.9,3.1 L9.1,3.1 L9,9.1 Z"
                fill-rule="nonzero"
              ></path>
            </g>
          </svg>
        }
        @if (_type === 'right' || _type === 'warning') {
          <i class="devui-icon icon-{{ _type }}-o"></i>
        }
        @if (_type === 'running') {
          <span>
            {{ dotText }}
          </span>
        }
      </div>
    }
    @if (customDot) {
      <div class="devui-time-axis-item-custom-dot">
        <ng-template [ngTemplateOutlet]="dotTemplate || defaultDotTemplate"> </ng-template>
        <ng-template #defaultDotTemplate>
          <span [innerHTML]="customDot | safe: 'html'"></span>
        </ng-template>
      </div>
    }
    @if (time && timePosition === 'bottom') {
      <div>{{ time }}</div>
    }
    <div class="{{ timeAxisLineClass }}" [style.borderColor]="lineStyle?.color">
      @if (extraElement) {
        <div class="devui-time-axis-middle-zone">
          <ng-template [ngTemplateOutlet]="extraTemplate || defaultTemplate"> </ng-template>
          <ng-template #defaultTemplate>
            <div [innerHTML]="extraElement | safe: 'html'"></div>
          </ng-template>
        </div>
      }
    </div>
  </div>
  @if (mode !== 'top' && mode !== 'left') {
    <div
      [class.devui-time-axis-item-data-horizontal-bottom]="direction === 'horizontal'"
      [class.devui-time-axis-item-data-vertical-right]="direction === 'vertical' && timePosition !== 'bottom'"
      [class.devui-time-axis-item-data-time-bottom]="timePosition === 'bottom'"
      >
      @if (time && (position === 'top' || position === 'left')) {
        <div>
          <div [class.devui-time-axis-item-horizontal-align-center]="position === 'top' && horizontalAlign === 'center'">{{ time }}</div>
        </div>
      }
      @if (position === 'bottom' || position === 'right') {
        <div
          [class.devui-time-axis-item-horizontal-align-center]="position === 'bottom' && horizontalAlign === 'center'"
          >
          @if (model !== 'template') {
            <div [innerHTML]="text | safe: 'html'"></div>
          }
          @if (model === 'template') {
            <div>
              <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{ $implicit: this, data: data }"></ng-template>
            </div>
          }
        </div>
      }
    </div>
  }
</div>
