<div class="devui-panel devui-panel-{{ type() }} {{ cssClass() }}" [@noAnimation]>
  <div class="devui-panel-heading" (click)="toggleBody()" [style.cursor]="isCollapsed !== undefined ? 'pointer' : null">
    <ng-content select="d-panel-header"></ng-content>
  </div>
  @if(isCollapsed === undefined || isCollapsed) {
  <div
    class="devui-panel-body"
    [class.devui-panel-body-collapse]="isCollapsed !== undefined"
    [class.has-left-padding]="hasLeftPadding()"
    @collapseForDomDestroy
    [@.disabled]="!showAnimation"
  >
    @if (panelFooter() || panelHeader() || panelBody()) {
    <ng-container *ngTemplateOutlet="panelBodyTpl"></ng-container>
    } @else {
    <div class="d-panel-body">
      <ng-content></ng-content>
    </div>
    }
  </div>
  } @if (panelFooter()) {
  <div class="devui-panel-footer">
    <ng-content select="d-panel-footer"></ng-content>
  </div>
  }
</div>

<ng-template #panelBodyTpl>
  <ng-content select="d-panel-body"></ng-content>
</ng-template>
