@use '../../../../devui/styles-var/devui-var.scss' as *;

.table-drag-row-handle {
  cursor: move;
}

.selected {
  color: $devui-info !important;
  background-color: $devui-list-item-selected-bg !important;
}
