<div class="devui-datepicker-pro-panel">
  @if (mode === 'date' || !mode) {
    <d-calendar-panel [isRangeType]="isRangeType"> </d-calendar-panel>
    @if (showTime) {
      <d-timepicker-panel></d-timepicker-panel>
    }
    @if (customTemplate) {
      <div class="devui-custom-panel-wrapper">
        <ng-template [ngTemplateOutlet]="customTemplate"> </ng-template>
      </div>
    }
    @if (showTime || footerTemplate) {
      <d-datepicker-footer-panel [footerTemplate]="footerTemplate"></d-datepicker-footer-panel>
    }
  }

  @if (mode === 'month') {
    <d-month-panel [isRangeType]="isRangeType"></d-month-panel>
    @if (customTemplate) {
      <div class="devui-custom-panel-wrapper">
        <ng-template [ngTemplateOutlet]="customTemplate"> </ng-template>
      </div>
    }
    @if (footerTemplate) {
      <d-datepicker-footer-panel [footerTemplate]="footerTemplate"></d-datepicker-footer-panel>
    }
  }

  @if (mode === 'year') {
    <d-year-panel [isRangeType]="isRangeType"></d-year-panel>
    @if (customTemplate) {
      <div class="devui-custom-panel-wrapper">
        <ng-template [ngTemplateOutlet]="customTemplate"> </ng-template>
      </div>
    }
    @if (footerTemplate) {
      <d-datepicker-footer-panel [footerTemplate]="footerTemplate"></d-datepicker-footer-panel>
    }
  }

  @if (mode === 'week' && isRangeType === true) {
    <d-calendar-panel [isRangeType]="true" [isWeekSelect]="true"> </d-calendar-panel>
    @if (customTemplate) {
      <div class="devui-custom-panel-wrapper">
        <ng-template [ngTemplateOutlet]="customTemplate"> </ng-template>
      </div>
    }
    @if (footerTemplate) {
      <d-datepicker-footer-panel [footerTemplate]="footerTemplate"></d-datepicker-footer-panel>
    }
  }
</div>
