@if (virtualScroll) {
  <ng-template
    *cdkVirtualFor="let treeNode of treeList | filterNodesPipe: 'hideInVirtualScroll'; trackBy: trackByFn"
    [ngTemplateOutlet]="treeNodesRef"
    [ngTemplateOutletContext]="{
      $implicit: this,
      treeNode: treeNode,
      treeFactory: treeFactory
    }"
    >
  </ng-template>
}
@if (!virtualScroll) {
  @for (treeNode of treeList; track trackByFn($index, treeNode)) {
    <ng-template
      [ngTemplateOutlet]="treeNodesRef"
    [ngTemplateOutletContext]="{
      $implicit: this,
      treeNode: treeNode,
      treeFactory: treeFactory
    }"
      >
    </ng-template>
  }
}
