<div
  [class.devui-time-axis-horizontal]="_direction === 'horizontal'"
  [class.devui-time-axis-vertical]="_direction === 'vertical'"
  [class.devui-time-axis-horizontal-fullwidth]="_direction === 'horizontal' && _widthMode === 'fitWidth'"
  >
  @if (data !== undefined) {
    @for (list of data.list; track list) {
      <d-time-axis-item
        [model]="data.model"
        [direction]="_direction"
        [time]="list.time"
        [timePosition]="data.position"
        [position]="list.position"
        [lineStyle]="list.lineStyle"
        [customDot]="list.customDot"
        [dotColor]="list.dotColor"
        [iconClass]="list.iconClass"
        [type]="list.type"
        [status]="list.status"
        [extraElement]="list.extraElement"
        [text]="list.text"
        [contentTemplate]="contentTemplate"
        [data]="list.data"
        [mode]="mode"
        [horizontalAlign]="data.horizontalAlign || 'center'"
        (statusChanged)="changeStatusLine($event)"
        >
      </d-time-axis-item>
    }
  }
  <ng-content select="d-time-axis-item"></ng-content>
</div>
