<ul class="devui-mention-dropdown" dLoading [showLoading]="loading" [ngClass]="{ 'devui-mention-overlay-top': position === 'top' }">
  @if (mentionHeaderTemplate) {
    <ng-template
      [ngTemplateOutlet]="mentionHeaderTemplate"
      [ngTemplateOutletContext]="{ activeIndex: activeIndex, loading: loading }"
    ></ng-template>
  }
  @for (suggestion of suggestions; track suggestion; let i = $index) {
    <li
      #items
      class="devui-mention-dropdown-item"
      [class.focus]="i === activeIndex"
      (click)="selectSuggestion(suggestion)"
      (mousedown)="$event.preventDefault()"
      >
      @if (mentionItemTemplate) {
        <ng-container [ngTemplateOutlet]="mentionItemTemplate" [ngTemplateOutletContext]="{ $implicit: suggestion }"></ng-container>
      } @else {
        {{ suggestion }}
      }
    </li>
  }
  @if (suggestions.length === 0) {
    <li class="devui-mention-dropdown-notfound devui-mention-dropdown-item">
      @if (!loading) {
        <span>{{ mentionNotFoundContent }}</span>
      }
    </li>
  }
</ul>
