@if (!innerListTemplate() || deepth() === 0) {
<ul class="devui-accordion-list">
  @for (item of data(); track item) {
  <li class="devui-accordion-item">
    @if (item[childrenKey()] !== undefined) {
    <!--菜单类型-->
    <d-accordion-menu [item]="item" [deepth]="deepth()" [parent]="parent()"></d-accordion-menu>
    } @if (item[childrenKey()] !== undefined) {
    <!--非菜单类型-->
    <d-accordion-list
      #listInstance
      class="devui-accordion-submenu"
      [deepth]="deepth() + 1"
      [data]="item[childrenKey()]"
      [parent]="item"
      [@collapse]="getOpenState(item, listInstance)"
      [@.disabled]="!animateState()"
    >
    </d-accordion-list>
    } @if (item[childrenKey()] === undefined) { @if (linkType() === 'routerLink') {
    <!--路由链接-->
    <d-accordion-item-routerlink [item]="item" [deepth]="deepth()" [parent]="parent()"></d-accordion-item-routerlink>
    } @if (linkType() === 'hrefLink') {
    <!--普通链接-->
    <d-accordion-item-hreflink [item]="item" [deepth]="deepth()" [parent]="parent()"></d-accordion-item-hreflink>
    } @if (linkType() === 'dependOnLinkTypeKey') { @if (item[linkTypeKey()] === 'routerLink') {
    <!--动态链接-->
    <d-accordion-item-routerlink [item]="item" [deepth]="deepth()" [parent]="parent()"></d-accordion-item-routerlink>
    } @if (item[linkTypeKey()] === 'hrefLink') {
    <d-accordion-item-hreflink [item]="item" [deepth]="deepth()" [parent]="parent()"></d-accordion-item-hreflink>
    }@if (item[linkTypeKey()] !== 'hrefLink' && item[linkTypeKey()] !== 'routerLink') {

    <d-accordion-item [item]="item" [deepth]="deepth()" [parent]="parent()"></d-accordion-item>
    } } @if (!linkType() || linkType() === '') {
    <!--普通类型-->
    <d-accordion-item [item]="item" [deepth]="deepth()" [parent]="parent()"></d-accordion-item>
    } }
  </li>
  }
</ul>
} @if (innerListTemplate() && deepth() !== 0) {
<!--列表模板-->
<div>
  <ng-container
    *ngTemplateOutlet="
      innerListTemplate();
      context: {
        item: parent(),
        deepth: deepth(),
        itemClickFn: itemClickItemFn,
        menuToggleFn: menuToggleItemFn
      }
    "
  ></ng-container>
</div>
} @if (!innerListTemplate() && (loading() || (noContent() && showNoContent()))) {
<!--无数据/加载中模板-->
<ul>
  @if (loading() && !loadingTemplate()) {
  <!--加载中-->
  <li class="devui-accordion-item">
    <div class="devui-accordion-item-title devui-over-flow-ellipsis" [style.textIndent.px]="deepth() * 20">
      {{ i18nCommonText()?.loading }}
    </div>
  </li>
  } @if (loading() && loadingTemplate()) {
  <!--自定义加载中-->
  <ng-container *ngTemplateOutlet="loadingTemplate(); context: { item: parent(), deepth: deepth() }"></ng-container>
  } @if (showNoContent() && !loading() && noContent() && !noContentTemplate()) {
  <!--无数据-->
  <li class="devui-accordion-item">
    <div class="devui-accordion-item-title devui-over-flow-ellipsis disabled" [style.textIndent.px]="deepth() * 20">
      {{ i18nCommonText()?.noData }}
    </div>
  </li>
  } @if (showNoContent() && !loading() && noContent() && noContentTemplate()) {
  <!--自定义无数据-->
  <ng-container *ngTemplateOutlet="noContentTemplate(); context: { item: parent(), deepth: deepth() }"></ng-container>
  }
</ul>
}
