@if (!innerListTemplate || deepth === 0) {
<ul class="devui-accordion-list">
  @for (item of data; track item) {
  <li class="devui-accordion-item">
    @if (item[childrenKey] !== undefined) {
    <!--菜单类型-->
    <d-accordion-menu [item]="item" [deepth]="deepth" [parent]="parent"></d-accordion-menu>
    <!--非菜单类型-->
    <d-accordion-list
      #listInstance
      class="devui-accordion-submenu"
      [deepth]="deepth + 1"
      [data]="item[childrenKey]"
      [parent]="item"
      [@collapse]="getOpenState(item, listInstance)"
      [@.disabled]="!animateState"
    >
    </d-accordion-list>
    } @else { @if (linkType === 'routerLink') {
    <!--路由链接-->
    <d-accordion-item-routerlink [item]="item" [deepth]="deepth" [parent]="parent"></d-accordion-item-routerlink>
    } @else if (linkType === 'hrefLink') {
    <!--普通链接-->
    <d-accordion-item-hreflink *ngIf="" [item]="item" [deepth]="deepth" [parent]="parent"></d-accordion-item-hreflink>
    }
    <!--动态链接-->
    @if (linkType === 'dependOnLinkTypeKey') { @if (item[linkTypeKey] === 'routerLink') {
    <d-accordion-item-routerlink [item]="item" [deepth]="deepth" [parent]="parent"></d-accordion-item-routerlink>
    } @else if (item[linkTypeKey] === 'hrefLink') {
    <d-accordion-item-hreflink [item]="item" [deepth]="deepth" [parent]="parent"></d-accordion-item-hreflink>
    } @else if (item[linkTypeKey] !== 'hrefLink' && item[linkTypeKey] !== 'routerLink') {
    <d-accordion-item [item]="item" [deepth]="deepth" [parent]="parent"></d-accordion-item>
    } }
    <!--普通类型-->
    @if (!linkType || linkType === '') {
    <d-accordion-item [item]="item" [deepth]="deepth" [parent]="parent"></d-accordion-item>
    } }
  </li>
  }
</ul>
}
<!--列表模板-->
@if (innerListTemplate && deepth !== 0) {
<div>
  <ng-container
    *ngTemplateOutlet="
      innerListTemplate;
      context: {
        item: parent,
        deepth: deepth,
        itemClickFn: itemClickItemFn,
        menuToggleFn: menuToggleItemFn
      }
    "
  ></ng-container>
</div>
}
<!--无数据/加载中模板-->
@if (!innerListTemplate && (loading || (noContent && showNoContent))) {
<ul>
  <!--加载中-->
  @if (loading && !loadingTemplate) {
  <li class="devui-accordion-item">
    <div class="devui-accordion-item-title devui-over-flow-ellipsis" [style.textIndent.px]="deepth * 20">
      {{ i18nCommonText?.loading }}
    </div>
  </li>
  }
  <!--自定义加载中-->
  @if (loading && loadingTemplate) {
  <ng-container *ngTemplateOutlet="loadingTemplate; context: { item: parent, deepth: deepth }"></ng-container>
  }
  <!--无数据-->
  @if (showNoContent && !loading && noContent && !noContentTemplate) {
  <li class="devui-accordion-item">
    <div class="devui-accordion-item-title devui-over-flow-ellipsis disabled" [style.textIndent.px]="deepth * 20">
      {{ i18nCommonText?.noData }}
    </div>
  </li>
  }
  <!--自定义无数据-->
  @if (showNoContent && !loading && noContent && noContentTemplate) {
  <ng-container *ngTemplateOutlet="noContentTemplate; context: { item: parent, deepth: deepth }"></ng-container>
  }
</ul>
}
