@if (!showMobileMenu) {
  <div class="header-menu-container" >
    @for (item of menuList; track item) {
      <div
        class="header-menu-item"
        (click)="onSelect(item)"
        [ngClass]="{ 'menu-selected-item': item === selectedItem }"
        >
        @if (item.href) {
          <a class="menu-link" [href]="item.href" rel="noopener noreferrer" [target]="item.target ? item.target : '_blank'">
            <div class="logo" [innerHTML]="item.icon | safe: 'html'"></div>
            <div class="text">{{ curLanguage === 'zh-cn' ? item.name : item.enName }}</div>
          </a>
        }
        @if (!item.href) {
          <div
            dDropDown
            appendToBody
            [appendToBodyDirections]="[{ originX: 'start', originY: 'center', overlayX: 'start', overlayY: 'top', offsetX: 50, offsetY: -16 }]"
            [trigger]="'click'"
            >
            <div class="logo" [innerHTML]="item.icon | safe: 'html'" dDropDownToggle></div>
            <div class="text">{{ curLanguage === 'zh-cn' ? item.name : item.enName }}</div>
            <div dDropDownMenu class="devui-scrollbar menu-list-wrapper">
              <div class="menu-lists" [ngClass]="{ 'menu-lists-specifications': item.name === '开发规范' }">
                <div class="menu-list">
                  <ul class="menu-sublist">
                    @for (itemInSubList of item.children; track itemInSubList) {
                      <li class="menu-sublist-item">
                        @if (itemInSubList.href) {
                          <a
                            [href]="itemInSubList.href"
                            rel="noopener noreferrer"
                            [target]="itemInSubList.target ? itemInSubList.target : '_blank'"
                            >
                            @if (item.name === '开发规范') {
                              <span class="menu-sublist-title">{{ curLanguage === 'zh-cn' ? itemInSubList.name : itemInSubList.enName }}</span>
                              @if (itemInSubList.description) {
                                <span
                                  class="menu-sublist-description"
                                  title="{{ curLanguage === 'zh-cn' ? itemInSubList.description : itemInSubList.enDescription }}"
                                  >
                                  {{ curLanguage === 'zh-cn' ? itemInSubList.description : itemInSubList.enDescription }}
                                </span>
                              }
                            }
                            @if (item.name !== '开发规范') {
                              <div class="menu-ecology-container">
                                <div class="ecology-icon-container" [innerHTML]="itemInSubList.icon | safe: 'html'"></div>
                                <div class="ecology-desc-container">
                                  <p class="menu-sublist-title">{{ curLanguage === 'zh-cn' ? itemInSubList.name : itemInSubList.enName }}</p>
                                  @if (itemInSubList.description) {
                                    <p
                                      class="menu-sublist-description"
                                      title="{{ curLanguage === 'zh-cn' ? itemInSubList.description : itemInSubList.enDescription }}"
                                      >{{ curLanguage === 'zh-cn' ? itemInSubList.description : itemInSubList.enDescription }}
                                    </p>
                                  }
                                </div>
                              </div>
                            }
                          </a>
                        }
                      </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
}
@if (showMobileMenu) {
  <div class="mobile-menu">
    <d-accordion
      [titleKey]="'name'"
      [linkKey]="'href'"
      [linkType]="'hrefLink'"
      [data]="menuList"
      [itemTemplate]="menutemplate"
      [menuItemTemplate]="menutemplate"
      [accordionType]="'embed'"
    ></d-accordion>
    <ng-template #menutemplate let-item="item">
      <div class="mobile-menu-wrapper">
        <div class="logo" [innerHTML]="item.icon | safe: 'html'"></div>
        <div class="text">{{ curLanguage === 'zh-cn' ? item.name : item.enName }}</div>
      </div>
    </ng-template>
  </div>
}