<div class="devui-shining-dot"></div>
<div class="devui-shining-plus"></div>
<div class="devui-arrow"></div>
<div class="devui-guide-container">
  <p class="devui-title">{{ title }}</p>
  <div class="icon icon-close" (click)="closeAll()"></div>
  <ng-template [ngTemplateOutlet]="content | dIsTemplatePipe : plainText"></ng-template>
  <ng-template #plainText>
    <div class="devui-content" [innerHTML]="content.toString()| safe : 'html'"></div>
  </ng-template>
  <div class="devui-ctrl">
    @if (dots.length > 1 && !extraConfig?.hideStepNav) {
      <div class="devui-dots">
        @for (dot of dots; track dot; let i = $index) {
          <em class="icon icon-dot-status {{ i === stepIndex ? 'devui-active' : '' }}"></em>
        }
      </div>
    }
    <div class="devui-guide-btn">
      @if (stepIndex > 0 && !extraConfig?.hidePreStep) {
        <div class="devui-prev-step" (click)="prev()">{{ i18nCommonText.previous }}</div>
      }
      @if (stepIndex + 1 < stepsCount) {
        <div (click)="next()">{{ i18nCommonText.next }}</div>
      }
      @if (stepIndex === stepsCount - 1) {
        <div (click)="closeAll()">{{ i18nCommonText.finish }}</div>
      }
    </div>
  </div>
</div>
