<d-data-table [dataSource]="basicDataSource" [scrollable]="true" [tableWidthConfig]="tableWidthConfig" [tableOverflowType]="'overlay'">
  <thead dTableHead>
    <tr dTableRow>
      <th dHeadCell>#</th>
      @for (colOption of dataTableOptions.columns; track colOption) {
        <th dHeadCell>{{ colOption.header }}</th>
      }
    </tr>
  </thead>
  <tbody dTableBody>
    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
      <tr dTableRow>
        <td dTableCell>{{ rowIndex + 1 }}</td>
        @for (colOption of dataTableOptions.columns; track colOption) {
          <td dTableCell>
            {{ colOption.fieldType === 'date' ? (rowItem[colOption.field] | i18nDate: 'short':false) : rowItem[colOption.field] }}
          </td>
        }
      </tr>
    </ng-template>
  </tbody>
</d-data-table>
