@if (source() && source().length) { @for (item of source();track item){
<d-breadcrumb-item
  [showMenu]="item.showMenu"
  [isSearch]="item.isSearch"
  [menuList]="item.menuList"
  [customMenuTemplate]="item.customMenuTemplate"
>
  @if (item.noNavigation) {
  <span>{{ item.title }}</span>
  } @else if (!item.linkType || item.linkType === 'hrefLink') {
  <a rel="noopener" [href]="item.link" [target]="item.target ? item.target : '_self'">{{ item.title }}</a>
  } @else if (item.linkType === 'routerLink') {
  <a rel="noopener" [target]="item.target" [href]="item.link" (click)="navigateTo($event, item)">{{ item.title }}</a>
  }
</d-breadcrumb-item>
} } @else {
<ng-content></ng-content>
}
