@if (!virtualScroll) {
  @for (rowItem of dataSource; track trackByFn(rowIndex); let rowIndex = $index) {
    <ng-template
      [ngTemplateOutlet]="trTable"
      [ngTemplateOutletContext]="{ rowItem: rowItem, rowIndex: rowIndex, nestedLayer: nestedLayer, nestedIndex: nestedIndex }"
      >
    </ng-template>
  }
} @else {
  <ng-container *cdkVirtualFor="let rowItem of dataSource; trackBy: trackByFn; let rowIndex = index">
    <ng-template
      [ngTemplateOutlet]="trTable"
      [ngTemplateOutletContext]="{ rowItem: rowItem, rowIndex: rowIndex, nestedLayer: nestedLayer, nestedIndex: nestedIndex }"
      >
    </ng-template>
  </ng-container>
}


<ng-template #trTable let-rowIndex="rowIndex" let-rowItem="rowItem" let-nestedLayer="nestedLayer" let-nestedIndex="nestedIndex">
  <ng-template
    [ngTemplateOutlet]="rowTemplete"
    [ngTemplateOutletContext]="{ rowItem: rowItem, rowIndex: rowIndex, nestedLayer: nestedLayer, nestedIndex: nestedIndex }"
  ></ng-template>
  @if (rowItem['children'] && rowItem['$isChildTableOpen']) {
    <tr class="child-table" [style.height]="minHeight ? '40px' : null">
      <td [attr.colspan]="tableWidthConfig.length">
        <table class="devui-table" style="table-layout: fixed">
          <colgroup>
          @for (config of tableWidthConfig; track config) {
            <col [style.width]="config.width" />
          }
        </colgroup>
        <tbody
          dTableBody
          [rowTemplete]="rowTemplete"
          [dataSource]="rowItem['children']"
          [tableWidthConfig]="tableWidthConfig"
          [nestedLayer]="nestedLayer + 1"
          [nestedIndex]="nestedIndex + ',' + rowIndex"
        ></tbody>
      </table>
    </td>
  </tr>
}
</ng-template>

<ng-template [ngTemplateOutlet]="minHeightStretchRow"></ng-template>
