<d-data-table
  [dataSource]="maxHeightDataSource"
  [fixHeader]="true"
  [tableOverflowType]="'overlay'"
  tableHeight="360px"
  [containFixHeaderHeight]="true"
  [scrollable]="true"
  >
  <thead dTableHead>
    <tr dTableRow>
      @for (colOption of dataTableOptions.columns; track colOption) {
        <th dHeadCell>{{ colOption.header }}</th>
      }
    </tr>
  </thead>
  <tbody dTableBody>
    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
      <tr dTableRow>
        @for (colOption of dataTableOptions.columns; track colOption) {
          <td dTableCell>
            {{ colOption.fieldType === 'date' ? (rowItem[colOption.field] | i18nDate : 'short' : false) : rowItem[colOption.field] }}
          </td>
        }
      </tr>
    </ng-template>
  </tbody>
</d-data-table>
